input[type=text] {
	height: 30px;
}

#chat_button {
	background-color: #55BBDC;
}

button{
	background-color: #4CAF50;
	border: none;
	text-font:30px;
	height: 30px;
	border-radius: 5px;
}

button:hover {
		background-color: #45a049;
}

#container {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	display: block;
}

#conversation {
	display: inline-block;
	text-align: left;
	height: 300px;
	overflow-y: auto;
	width: 70%;
	overflow-x: auto;
}
