<!DOCTYPE html>
<html>
<head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='eliza_style.css')}}">
</head>

<body>
        <div id="container">
        <div id="head_div">
                <h1 id="welcome">Register</h1> <br>
        </div>
        {% block content %}{% endblock %}
        </div>
</body>

</html>

