{% extends "base.html" %}

{% block content %}
  Hello {{ name }}. The time now is {{ time }}.
  <br />
  <script src="{{ url_for('static', filename='eliza_js.js')}}" type="text/javascript"></script>
  <div id="form_div">
    <!--<form method="POST" action="{{ url_for('eliza')}}">-->
      <input id="human_input" class="txt_field" type="text" name="human_input">
      <button onclick="talk()" id="chat_button" class="submit_button" type="submit">Chat</button>
    <!--</form>-->
  </div>
  <br />
  <h3>Conversation</h3>
  <div id="conversation"></div>
{% endblock %}
