{% extends "base.html" %}

{% block content %}
<div id="form_div">
	<form enctype='application/json' method="POST" action="/eliza/login">
		<label for="user">User Name:</label>
		<input name="user" required><br />

		<label for="pass">Password:</label>
		<input name="pass" type="password"><br/ >
	
		<input type="submit" value="Submit" />
	</form>
</div>
<p id="error_msg"> {{ error }} </p>
{% endblock %}
