{% extends "base.html" %}

{% block content %}
<div id="form_div">
  <form method="POST" action="{{ url_for('eliza')}}">
    Please enter your name below <br>
    <input class="txt_field" type="text" name="name">
    <button id="submit_button" type="submit">Submit</button>
  </form>
</div>
<p id="error_msg"> {{ error }} </p>
{% endblock %}
