{% extends "addUser.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='register.js')}}" type="text/javascript"></script>
<div id="form_div">
  <form id="register" method="POST" action="/eliza/adduser">
    <label for="name">User Name:</label>
      <input name="name" required><br />

	<label for="password">Password:</label>
	<input name="password" type="password"><br/ >

      <label for="email">Email:</label>
      <input name="email" type="email" required><br />
      <!--<div class="g-recaptcha" data-sitekey="6LceExcUAAAAACaHybFiSAEEc_ztPm57-wcxnMvu"></div>
        -->
      <input type="submit" value="Submit" onclick="sendData()" />
  </form>
</div>
<p id="error_msg"> {{ error }} </p>
{% endblock %}
